<div id="<%= dom_id post %>">
  <div>
    <h2><%= post.title %></h2>
  </div>
  <div>
    <%= post.body %>
  </div>
  <div>
    Publicado em: <%= post.published_at.strftime("%d/%m/%Y às %H:%M") %>
  </div>
</div>
